---
import Layout from "@/layouts/main.astro"
import { ResumeSection } from "@/modules/resume-section"
import { Separator } from "@/components/ui/separator"
import { AwardSection } from "@/modules/award-section"
import { PaperSection } from "@/modules/paper-section"
import { LabOverviewSection } from "@/modules/lab-overview-section"
import { StudentTrainingSection } from "@/modules/student-training-section"
import { Footer } from "@/modules/footer"
---

<Layout>
  <div class="mx-auto w-full max-w-5xl px-4">
    <div class="py-8">
      <ResumeSection />
    </div>

    <Separator className="mb-8" />

    <div>
      <LabOverviewSection />
    </div>

    <Separator className="my-8" />

    <div>
      <AwardSection />
    </div>

    <Separator className="my-8" />

    <div>
      <PaperSection />
    </div>

    <Separator className="my-8" />

    <div>
      <StudentTrainingSection />
    </div>
  </div>
  <Footer />
</Layout>
